{
    "sourceMaps": true,
    "module": {
      "type": "es6",
      "noInterop": false,
      "strictMode": true,
      "ignoreDynamic": false
    },
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "dynamicImport": true,
        "importAssertions": true
      },
      "target": "es2022",
      "transform": {
        "legacyDecorator": true,
        "react": {
          "throwIfNamespace": false,
          "useBuiltins": false
        },
        "useDefineForClassFields": false
      },
      "keepClassNames": true,
      "experimental": {
        // Remove or adjust the following line if it causes issues
        // "keepImportAttributes": true,
        // "emitAssertForImportAttributes": true
      }
    }
  }